/* Color variable */

$redsite: #6d071a;
$gray: rgb(173, 164, 164);
$light-gray: rgb(133, 118, 118);
$carbon-transparent: rgba(54, 48, 43, 0.7);
$red: #bf3030;
$carbon: rgb(19, 14, 10);
$light-gray: rgb(133, 118, 118);
$red-trans: rgba(191, 48, 48, 0.5);

@mixin gradient {
  background: linear-gradient(#a32020, #531c1c);
}

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Hide elements that do not conform to the format */
.hidden-tablette {
  display: none !important;
}

/* body to take the whole page*/

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

/* Header */
@mixin justify {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10rem;
  background-color: lighten($redsite, 10%);
  padding: 0;
  margin: 0;
  & nav > ul {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    background-color: darken($redsite, 10%);
    font-family: "Comfortaa", cursive;
    & li {
      display: flex;
      width: 100%;
      & > a {
        @include justify();
        flex: 2 1 auto;
        border-right: 2px solid $light-gray;
        border-left: 2px solid $light-gray;
        & svg {
          width: 2em;
          height: 2em;
          color: $gray;
        }
      }
    }
  }
}

/* Space and format navigation menu of header */
.spacelist {
  @include justify();
  flex: 1 1 auto;
  color: $gray;
  & a {
    text-decoration: none;
    color: $gray;
  }
  & svg {
    width: 2em;
    height: 2em;
    color: $gray;
  }

  & label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* ---- Navigation bar drop-down menu --- */

.nav-menu ul {
  display: none;
  list-style: none;
}

/* Appearance of the list when checked */

nav input[type="checkbox"]:checked + ul {
  display: block;
  flex-direction: row;
}
/* unchecked disappearance */
nav input[type="checkbox"] {
  display: none;
}

/* Style menu */

.drop-down {
  display: flex;
  flex-flow: column wrap;
  z-index: 100;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
  & li {
    text-align: center;
  }
  & a {
    border-bottom: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    display: block;
    text-decoration: none;
    background-color: $carbon-transparent;
    padding: 9vh;
    font-size: 1.2rem;
  }
}

/* Header logo */

.inner-head {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  & img {
    height: 6rem;
  }
}
.head-title {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  & h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  & p {
    margin-top: -1vh;
    color: $gray;
    font-weight: 300;
    font-size: 1.2rem;
    & b {
      font-weight: 900;
      font-style: normal;
      font-size: 2rem;
      color: white;
    }
  }
}

/*----- Main -----*/
/*----- Article -----*/

/*Start carousel*/

/*Principal Frame*/

$slider-width: 90vw;
$slider-height: 100%;
$numberSlide: 4; /* Change for add or remove a slide in SASS code */
$duration: 7100ms; /* Change for up or down the time of animation in SASS code*/
$animationDuration: ($duration * $numberSlide);

#Slide {
  position: relative;
  width: $slider-width;
  height: $slider-height;
  padding: 15px;
  margin: 0 auto 2em;
  border: 1px solid #ddd;
  background: #fff;
  margin-top: 2vh;
}

/*Successive hidden image for animation carousel */

#Slide .images-bloc {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: $slider-width;
    background: #999;
    border-top: 2px solid #531c1c;
  }
}
/* Style of the text of the carousel*/
#Slide a {
  text-decoration: none;
  color: $redsite;
  &::after {
    text-decoration: none;
    color: $redsite;
  }
  & figure {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: small;
    &::after {
      position: absolute;
      display: block;
      content: " ";
      top: 0;
      left: 0;
      width: $slider-width;
      height: $slider-height;
      border-top: 2px solid #531c1c;
    }
    & img {
      border-left: 2px solid #531c1c;
      float: left;
      width: $slider-width - 25vw;
    }
    & figcaption {
      position: absolute;
      right: 0;
      width: $slider-width;
      background-color: lighten($gray, 30%);
      text-align: center;
      height: 100%;
      width: 25vw;
      padding-right: 3rem;
      padding-left: 3rem;
      border: 2px solid #531c1c;
      @media screen and (min-width: 764px) and (max-width: 900px) {
        padding-top: 7%;
        & h3 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        & p {
          font-size: 150%;
          padding-top: 3%;
        }
      }
      @media screen and (min-width: 900px) and (max-width: 1100px) {
        padding-top: 10%;
        & h3 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        & p {
          font-size: 160%;
          padding-top: 5%;
        }
      }
      @media screen and (min-width: 1100px) and (max-width: 1300px) {
        padding-top: 15%;
        & h3 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        & p {
          font-size: 170%;
          padding-top: 9%;
        }
      }
      @media screen and (min-width: 1300px) and (max-width: 1440px) {
        padding-top: 20%;
        & h3 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        & p {
          font-size: 180%;
          padding-top: 13%;
        }
      }
      & p {
        text-align: justify;
        text-align-last: center;
      }
    }
  }
}

/* Image container and animation */
.images-inner {
  width: 500%;
}
/* Align slide image*/
.images-slide {
  width: 20%;
  float: left;
}

.images-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s linear;
}

/*Button position*/
.fake-radio {
  text-align: center;
  position: absolute;
  margin-left: 0;
  margin-right: auto;
  left: 0;
  right: 0;
}
/* hidden button checked */
.radio {
  display: none;
}

/* Move slides overflowed container */

@for $i from 1 to ($numberSlide + 1) {
  #slide#{$i}:checked ~ .images-bloc .images-inner {
    margin-left: (-100% * ($i - 1));
  }
}

/* Color of the ball of the pagination  */

@for $i from 1 to ($numberSlide + 1) {
  #slide#{$i}:checked ~ .fake-radio .radio-btn:nth-child(#{$i}) {
    background: lighten($redsite, 20%);
  }
}

/* Style bullet */
.radio-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  background: gray;
  display: inline-block !important;
  margin-bottom: -3rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* Autoplay paginations */
@keyframes bullet {
  0%,
  33.32333333333334% {
    background: lighten($redsite, 20%);
  }
  33.333333333333336%,
  100% {
    background: gray;
  }
}

@for $i from 1 to ($numberSlide + 1) {
  #playOn:checked ~ .fake-radio .radio-btn:nth-child(#{$i}) {
    animation: bullet $animationDuration infinite ($duration * ($i) - $duration);
  }
}
/* Autoplay Slide */

@keyframes slide {
  @for $i from 1 to ($numberSlide + 1) {
    #{($i - 1) * (100% / $numberSlide)} {
      margin-left: -100% * ($i - 1);
    }
  }
  100% {
    margin-left: 0%;
  }
}

#Slide > #playOn:checked ~ .images-bloc .images-inner {
  animation: slide cubic-bezier(.26,1,0,1) $animationDuration infinite $duration;
}
/* Formatting navigation button */
.commandes {
  position: absolute;
  z-index: 10;
  color: $redsite;
  background-color: rgba(255, 255, 255, 0);
  & div {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    & p {
      color: $red-trans;
      font-family: "Nanum Gothic", sans-serif;
      font-size: 2.5rem;
    }
  }
}
/* Touch slide animation */
@keyframes anim-cmd1 {
  0%,
  50% {
    background-color: lighten($red-trans, 10%);
    transform: translateX(-2vw);
  }
  51%,
  99% {
    background-color: lighten($red-trans, 15%);
    transform: translateX(-3vw);
  }
}
@keyframes anim-cmd2 {
  0%,
  50% {
    background-color: lighten($red-trans, 10%);
    transform: translateX(2vw);
  }
  51%,
  99% {
    background-color: lighten($red-trans, 15%);
    transform: translateX(3vw);
  }
}

/* Placement of the previous and next buttons */
.prev {
  width: 15%;
  height: 100%;
  &:active {
    animation: 90ms anim-cmd1;
  }
  & p {
    padding-left: 1vw;
  }
}

.next {
  right: 0;
  width: 15%;
  height: 100%;
  align-content: center;
  &:active {
    animation: 90ms anim-cmd2;
  }
  & p {
    padding-left: 10vw;
  }
}

/* Creation of the navigation buttons display */
@for $ni from 1 to ($numberSlide + 1) {
  #slide#{$ni}:checked ~ .images-bloc > .commandes {
    display: none;
  }
  #slide#{$ni}:checked ~ .images-bloc > .commandes#{$ni} {
    display: block;
  }
}

/*Z-index animation to match the slides*/
#playOn:checked ~ .images-bloc > .commandes {
  display: block;
  z-index: 1;
}
@for $cmdi from 1 to 5 {
  #playOn:checked ~ .images-bloc > .commandes#{$cmdi} {
    animation: cmd#{$cmdi} $animationDuration infinite;
    animation: fadein $duration infinite;
  }
}
/* Opacity animation button next/previous*/
@keyframes fadein {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframe of Z-index to put the buttons of each slide forward*/
$calculPercent: ((100% / $numberSlide));
@for $cmdi from 1 to ($numberSlide + 1) {
  #playOn:checked ~ .images-bloc > .commandes#{$cmdi} {
    animation: cmd#{$cmdi} $animationDuration infinite;
  }

  @keyframes cmd#{$cmdi} {
    @for $Zindexi from 1 to ($numberSlide + 1) {
      #{$calculPercent * $Zindexi} {
        @if $cmdi != $Zindexi {
          z-index: 0;
        } @else {
          z-index: 100;
        }
      }
    }
  }
}
@for $cmdi from 1 to ($numberSlide + 1) {
  #playOn:checked ~ .images-bloc > .commandes#{$cmdi} {
    animation: cmd#{$cmdi} $animationDuration infinite;
  }
}

/*Aside*/

aside .Selection {
  position: relative;
  display: flex;
  flex-direction: column;
  color: darken($red, 30%);
  text-align: justify;
  height: auto;
  margin: 10vh 0vh 5vh 5vh;
  padding-right: 5vh;
  & div {
    margin-bottom: -2%;
    & b {
      font-size: x-large;
      font-family: "Nanum Gothic", sans-serif;
    }
    & a {
      color: darken($red, 10%);
      font-size: 1.5rem;
      text-decoration: none;
      & img {
        display: none;
      }
    }
  }
}

/* Calendar gif format before footer */
.calendar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;

  & a {
    font-size: 1.5rem;
    margin-top: -2%;
    color: darken($red, 10%);
    text-decoration: none;

    & img {
      max-width: 50%;
    }
  }
}

/* Footer */

footer {
  background-color: $redsite;
  height: 5rem;
  width: 100%;
  & ul {
    @include justify();
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    & li {
      flex: 2 1 auto;
      width: 100%;
      height: 100%;
      color: white;
      & > a {
        @include justify();
        text-decoration: none;
        text-align: center;
        color: white;
        width: 100%;
        height: 100%;
        & img {
          height: 2em;
        }
      }
    }
  }
}
