$redsite: #6d071a;
$gray: rgb(173, 164, 164);
$light-gray: rgb(133, 118, 118);
$carbon-transparent: rgba(54, 48, 43, 0.7);

@mixin gradient {
    background: linear-gradient(#a32020, #531c1c);
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hidden-mobile {
    display: none !important;
}


.hidden-tablette {
    display: none !important;
}

/* body pour prendre l'ensemble de la page*/

body {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", cursive;
}


/* Header */
@mixin justifyheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10rem;
    background-color: lighten($redsite,10%);
    padding: 0;
    margin: 0;
    &  nav > ul {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 4rem;
        width: 100%;
        list-style-type: none;
        color: white;
        margin: 0;
        padding: 0;
        background-color: darken($redsite,10%);
        font-family: "Comfortaa", cursive;
        & li {
            display: flex;
            width: 100%;
            & > a {
                @include justifyheader();
                flex: 2 1 auto;
                border-right: 1px solid $light-gray;
                border-left: 1px solid $light-gray;
                & svg {
                    width: 2em;
                    height: 2em; 
                    color: $gray;
                }
            }
        }
    }
}

.spacelist {
    @include justifyheader();
    flex: 1 1 auto;
    color: $gray;
    & a {
        text-decoration: none;
        color: $gray;
    }
    & svg {
        width: 2em;
        height: 2em; 
        color: $gray;
    }
}

/* ---- Navigation bar drop-down menu --- */

.nav-menu {
    & ul {
        display: none;
        list-style: none;
    }

    & div {
        overflow: hidden;
    }
}
/* Appearance of the list when checked */

nav input[type="checkbox"]:checked + ul {
  display: block;
  flex-direction: row;
}
/* unchecked disappearance */
nav input[type="checkbox"] {
    display: none;
}

/* Style menu */

.drop-down {
    display: flex;
    flex-flow: column wrap;
    z-index: 100;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;

    & li {
        text-align: center;
    }
    & a {
        border-bottom: none;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
        display: block;
        text-decoration: none;
        background-color: $carbon-transparent;
        padding: 9vh;
        font-size: 1.2rem;
    }
}

/* Header logo */ 

.inner-head {
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    & img {
        width: 6em;
    }  
}
.head-title {
    color: white;
    margin-top: auto;
    margin-bottom: auto; 
        
    & p { 
        color: $gray;
        font-weight:300;
        font-size: 1.2rem;

        & b {
            font-weight: 900;
            font-style: normal;
            font-size: 2rem;
            color: white;
        }
    }
}