$redsite: #bf3030;
$gray: rgb(173, 164, 164);
$light-gray: rgb(133, 118, 118);
$carbon-transparent: rgba(54, 48, 43, 0.7);

@mixin gradient {
    background: linear-gradient(#a32020, #531c1c);
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');

/* body pour prendre l'ensemble de la page*/

body {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", cursive;
}


/* Header */
@mixin justifyheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10rem;
    background-color: $redsite;
    padding: 0;
    margin: 0;
    &  nav > ul {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 4rem;
        width: 100%;
        list-style-type: none;
        color: white;
        margin: 0;
        padding: 0;
        background-color: darken($redsite,20%);
        font-family: "Comfortaa", cursive;
        & li {
            display: flex;
            width: 100%;
            & > a {
                @include justifyheader();
                flex: 2 1 auto;
                border-right: 1px solid $light-gray;
                border-left: 1px solid $light-gray;
                & svg {
                    width: 2em;
                    height: 2em; 
                    color: $gray;
                }
            }
        }
    }
}

.spacelist {
    @include justifyheader();
    flex: 1 1 auto;
    color: $gray;
    & a {
        text-decoration: none;
        color: $gray;
    }
    & svg {
        width: 2em;
        height: 2em; 
        color: $gray;
    }
}

/* ---- Navigation bar drop-down menu --- */

.nav-menu ul {
    display: none;
    list-style: none;
  }

/* Appearance of the list when checked */

nav input[type="checkbox"]:checked + ul {
  display: block;
  flex-direction: row;
}
/* unchecked disappearance */
nav input[type="checkbox"] {
    display: none;
  }

/* Style menu */

.menu {
    display: flex;
    flex-flow: column wrap;
    z-index: 100;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;

    & li {
        text-align: center;
    }
    & a {
        border-bottom: none;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
        display: block;
        text-decoration: none;
        background-color: $carbon-transparent;
        padding: 9vh;
        font-size: 1.2rem;
    }
}

/* Header logo */ 

.inner-head {
    display: flex;
    align-items: flex-start;

    & img {
        width: 6em;
    }  
}
.head-title {
    color: #390e0e;
    margin-top: auto;
    margin-bottom: auto; 
        
    & p {
        font-size: 1rem;
        margin-top: auto;
        margin-bottom: auto; 
    }
} 