@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap");
/* body pour prendre l'ensemble de la page*/
body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 10rem;
  background-color: #bf3030;
  padding: 0;
  margin: 0;
}

header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4rem;
  width: 100%;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #6d1c1c;
  font-family: "Comfortaa", cursive;
}

header nav > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  border-right: 1px solid #857676;
  border-left: 1px solid #857676;
}

header nav > ul li > a svg {
  width: 2em;
  height: 2em;
  color: #ada4a4;
}

.spacelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ada4a4;
}

.spacelist a {
  text-decoration: none;
  color: #ada4a4;
}

.spacelist svg {
  width: 2em;
  height: 2em;
  color: #ada4a4;
}

/* ---- Navigation bar drop-down menu --- */
.nav-menu ul {
  display: none;
  list-style: none;
}

/* Appearance of the list when checked */
nav input[type="checkbox"]:checked + ul {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* unchecked disappearance */
nav input[type="checkbox"] {
  display: none;
}

/* Style menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  z-index: 100;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
}

.menu li {
  text-align: center;
}

.menu a {
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  display: block;
  text-decoration: none;
  background-color: rgba(54, 48, 43, 0.7);
  padding: 9vh;
  font-size: 1.2rem;
}

/* Header logo */
.inner-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inner-head img {
  width: 6em;
}

.head-title {
  color: #390e0e;
  margin-top: auto;
  margin-bottom: auto;
}

.head-title p {
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}
/*# sourceMappingURL=style-mobile.css.map */