/* Temp */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap");
.hidden-tablette {
  display: none !important;
}

/* body pour prendre l'ensemble de la page*/
body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 10rem;
  background-color: #9d0a25;
  padding: 0;
  margin: 0;
}

header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4rem;
  width: 100%;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #3d040f;
  font-family: "Comfortaa", cursive;
}

header nav > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  border-right: 2px solid #857676;
  border-left: 2px solid #857676;
}

header nav > ul li > a svg {
  width: 2em;
  height: 2em;
  color: #ada4a4;
}

.spacelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ada4a4;
}

.spacelist a {
  text-decoration: none;
  color: #ada4a4;
}

.spacelist svg {
  width: 2em;
  height: 2em;
  color: #ada4a4;
}

.spacelist label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ---- Navigation bar drop-down menu --- */
.nav-menu ul {
  display: none;
  list-style: none;
}

/* Appearance of the list when checked */
nav input[type="checkbox"]:checked + ul {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* unchecked disappearance */
nav input[type="checkbox"] {
  display: none;
}

/* Style menu */
.drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  z-index: 100;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
}

.drop-down li {
  text-align: center;
}

.drop-down a {
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  display: block;
  text-decoration: none;
  background-color: rgba(54, 48, 43, 0.7);
  padding: 9vh;
  font-size: 1.2rem;
}

/* Header logo */
.inner-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.inner-head img {
  height: 6rem;
}

.head-title {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.head-title h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.head-title p {
  margin-top: -1vh;
  color: #ada4a4;
  font-weight: 300;
  font-size: 1.2rem;
}

.head-title p b {
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  color: white;
}

/*----- Main -----*/
/*Start carousel*/
/*Principal Frame*/
#Slide {
  position: relative;
  width: 90vw;
  height: 100%;
  padding: 15px;
  margin: 0 auto 2em;
  border: 1px solid #ddd;
  background: #fff;
  margin-top: 2vh;
}

/*Successive hidden image for animation carousel */
#Slide .images-bloc {
  position: relative;
  overflow: hidden;
}

#Slide .images-bloc::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 90vw;
  background: #999;
  border-top: 2px solid #531c1c;
}

/* Style of the text of the carousel*/
#Slide a {
  text-decoration: none;
  color: #6d071a;
}

#Slide a::after {
  text-decoration: none;
  color: #6d071a;
}

#Slide a figure {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
}

#Slide a figure::after {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  left: 0;
  width: 90vw;
  height: 100%;
  border-top: 2px solid #531c1c;
}

#Slide a figure img {
  border-left: 2px solid #531c1c;
  float: left;
  width: 65vw;
}

#Slide a figure figcaption {
  position: absolute;
  right: 0;
  width: 90vw;
  background-color: #f6f4f4;
  text-align: center;
  height: 100%;
  width: 25vw;
  padding-right: 3rem;
  padding-left: 3rem;
  border: 2px solid #531c1c;
}

@media screen and (min-width: 764px) and (max-width: 900px) {
  #Slide a figure figcaption {
    padding-top: 7%;
  }
  #Slide a figure figcaption h3 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  #Slide a figure figcaption p {
    font-size: 150%;
    padding-top: 3%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  #Slide a figure figcaption {
    padding-top: 10%;
  }
  #Slide a figure figcaption h3 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  #Slide a figure figcaption p {
    font-size: 160%;
    padding-top: 5%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
  #Slide a figure figcaption {
    padding-top: 15%;
  }
  #Slide a figure figcaption h3 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  #Slide a figure figcaption p {
    font-size: 170%;
    padding-top: 9%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {
  #Slide a figure figcaption {
    padding-top: 20%;
  }
  #Slide a figure figcaption h3 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  #Slide a figure figcaption p {
    font-size: 180%;
    padding-top: 13%;
  }
}

#Slide a figure figcaption p {
  text-align: justify;
  text-align-last: center;
}

/* Image container and animation */
.images-inner {
  width: 500%;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

/* Align slide image*/
.images-slide {
  width: 20%;
  float: left;
}

.images-slide,
.fake-radio,
.radio-btn {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/*Button position*/
.fake-radio {
  text-align: center;
  position: absolute;
  margin-left: 0;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* hidden button checked */
.radio {
  display: none;
}

/* Move slides overflowed container */
#slide1:checked ~ .images-bloc .images-inner {
  margin-left: 0%;
}

#slide2:checked ~ .images-bloc .images-inner {
  margin-left: -100%;
}

#slide3:checked ~ .images-bloc .images-inner {
  margin-left: -200%;
}

#slide4:checked ~ .images-bloc .images-inner {
  margin-left: -300%;
}

/* Color of the ball of the pagination  */
#slide1:checked ~ .fake-radio .radio-btn:nth-child(1) {
  background: #cd0d31;
}

#slide2:checked ~ .fake-radio .radio-btn:nth-child(2) {
  background: #cd0d31;
}

#slide3:checked ~ .fake-radio .radio-btn:nth-child(3) {
  background: #cd0d31;
}

#slide4:checked ~ .fake-radio .radio-btn:nth-child(4) {
  background: #cd0d31;
}

/* Style bullet */
.radio-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  background: gray;
  display: inline-block !important;
  margin-bottom: -3rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* Autoplay paginations */
@-webkit-keyframes bullet {
  0%,
  33.32333333333334% {
    background: #cd0d31;
  }
  33.333333333333336%,
  100% {
    background: gray;
  }
}
@keyframes bullet {
  0%,
  33.32333333333334% {
    background: #cd0d31;
  }
  33.333333333333336%,
  100% {
    background: gray;
  }
}

#playOn:checked ~ .fake-radio .radio-btn:nth-child(1) {
  -webkit-animation: bullet 16400ms infinite -1000ms;
          animation: bullet 16400ms infinite -1000ms;
}

#playOn:checked ~ .fake-radio .radio-btn:nth-child(2) {
  -webkit-animation: bullet 16400ms infinite 3100ms;
          animation: bullet 16400ms infinite 3100ms;
}

#playOn:checked ~ .fake-radio .radio-btn:nth-child(3) {
  -webkit-animation: bullet 16400ms infinite 7200ms;
          animation: bullet 16400ms infinite 7200ms;
}

#playOn:checked ~ .fake-radio .radio-btn:nth-child(4) {
  -webkit-animation: bullet 16400ms infinite 11300ms;
          animation: bullet 16400ms infinite 11300ms;
}

/* Autoplay Slide */
@-webkit-keyframes slide {
  25% {
    margin-left: 0%;
  }
  50% {
    margin-left: -100%;
  }
  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes slide {
  25% {
    margin-left: 0%;
  }
  50% {
    margin-left: -100%;
  }
  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}

#Slide > #playOn:checked ~ .images-bloc .images-inner {
  -webkit-animation: slide 16400ms infinite;
          animation: slide 16400ms infinite;
}

/* Formatting navigation button */
.commandes {
  position: absolute;
  z-index: 10;
  color: #6d071a;
  background-color: rgba(255, 255, 255, 0);
}

.commandes div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.commandes div p {
  color: rgba(191, 48, 48, 0.5);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2.5rem;
}

/* Touch slide animation */
@-webkit-keyframes anim-cmd1 {
  0%,
  50% {
    background-color: rgba(211, 79, 79, 0.5);
    -webkit-transform: translateX(-2vw);
            transform: translateX(-2vw);
  }
  51%,
  99% {
    background-color: rgba(216, 100, 100, 0.5);
    -webkit-transform: translateX(-3vw);
            transform: translateX(-3vw);
  }
}
@keyframes anim-cmd1 {
  0%,
  50% {
    background-color: rgba(211, 79, 79, 0.5);
    -webkit-transform: translateX(-2vw);
            transform: translateX(-2vw);
  }
  51%,
  99% {
    background-color: rgba(216, 100, 100, 0.5);
    -webkit-transform: translateX(-3vw);
            transform: translateX(-3vw);
  }
}

@-webkit-keyframes anim-cmd2 {
  0%,
  50% {
    background-color: rgba(211, 79, 79, 0.5);
    -webkit-transform: translateX(2vw);
            transform: translateX(2vw);
  }
  51%,
  99% {
    background-color: rgba(216, 100, 100, 0.5);
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
  }
}

@keyframes anim-cmd2 {
  0%,
  50% {
    background-color: rgba(211, 79, 79, 0.5);
    -webkit-transform: translateX(2vw);
            transform: translateX(2vw);
  }
  51%,
  99% {
    background-color: rgba(216, 100, 100, 0.5);
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
  }
}

.prev {
  width: 15%;
  height: 100%;
}

.prev:active {
  -webkit-animation: 90ms anim-cmd1;
          animation: 90ms anim-cmd1;
}

.prev p {
  padding-left: 1vw;
}

.next {
  right: 0;
  width: 15%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.next:active {
  -webkit-animation: 90ms anim-cmd2;
          animation: 90ms anim-cmd2;
}

.next p {
  padding-left: 10vw;
}

/* Creation of the navigation buttons display */
#slide1:checked ~ .images-bloc > .commandes {
  display: none;
}

#slide1:checked ~ .images-bloc > .commandes1 {
  display: block;
}

#slide2:checked ~ .images-bloc > .commandes {
  display: none;
}

#slide2:checked ~ .images-bloc > .commandes2 {
  display: block;
}

#slide3:checked ~ .images-bloc > .commandes {
  display: none;
}

#slide3:checked ~ .images-bloc > .commandes3 {
  display: block;
}

#slide4:checked ~ .images-bloc > .commandes {
  display: none;
}

#slide4:checked ~ .images-bloc > .commandes4 {
  display: block;
}

/*Z-index animation to match the slides*/
#playOn:checked ~ .images-bloc > .commandes {
  display: block;
  z-index: 1;
}

#playOn:checked ~ .images-bloc > .commandes1 {
  -webkit-animation: cmd1 16400ms infinite;
          animation: cmd1 16400ms infinite;
  -webkit-animation: fadein 4100ms infinite;
          animation: fadein 4100ms infinite;
}

#playOn:checked ~ .images-bloc > .commandes2 {
  -webkit-animation: cmd2 16400ms infinite;
          animation: cmd2 16400ms infinite;
  -webkit-animation: fadein 4100ms infinite;
          animation: fadein 4100ms infinite;
}

#playOn:checked ~ .images-bloc > .commandes3 {
  -webkit-animation: cmd3 16400ms infinite;
          animation: cmd3 16400ms infinite;
  -webkit-animation: fadein 4100ms infinite;
          animation: fadein 4100ms infinite;
}

#playOn:checked ~ .images-bloc > .commandes4 {
  -webkit-animation: cmd4 16400ms infinite;
          animation: cmd4 16400ms infinite;
  -webkit-animation: fadein 4100ms infinite;
          animation: fadein 4100ms infinite;
}

/* Opacity animation button next/previous*/
@-webkit-keyframes fadein {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframe of Z-index to put the buttons of each slide forward*/
@-webkit-keyframes cmd1 {
  0%,
  12.5% {
    z-index: 100;
  }
  12.5%,
  25% {
    z-index: 100;
  }
  25%,
  37.5% {
    z-index: 0;
  }
  37.5%,
  50% {
    z-index: 0;
  }
  50%,
  62.5% {
    z-index: 0;
  }
  62.5%,
  75% {
    z-index: 0;
  }
  75%,
  87.5% {
    z-index: 0;
  }
  87.5%,
  99.99% {
    z-index: 0;
  }
}
@keyframes cmd1 {
  0%,
  12.5% {
    z-index: 100;
  }
  12.5%,
  25% {
    z-index: 100;
  }
  25%,
  37.5% {
    z-index: 0;
  }
  37.5%,
  50% {
    z-index: 0;
  }
  50%,
  62.5% {
    z-index: 0;
  }
  62.5%,
  75% {
    z-index: 0;
  }
  75%,
  87.5% {
    z-index: 0;
  }
  87.5%,
  99.99% {
    z-index: 0;
  }
}

@-webkit-keyframes cmd2 {
  0%,
  12.5% {
    z-index: 0;
  }
  12.5%,
  25% {
    z-index: 0;
  }
  25%,
  37.5% {
    z-index: 100;
  }
  37.5%,
  50% {
    z-index: 100;
  }
  50%,
  62.5% {
    z-index: 0;
  }
  62.5%,
  75% {
    z-index: 0;
  }
  75%,
  87.5% {
    z-index: 0;
  }
  87.5%,
  99.99% {
    z-index: 0;
  }
}

@keyframes cmd2 {
  0%,
  12.5% {
    z-index: 0;
  }
  12.5%,
  25% {
    z-index: 0;
  }
  25%,
  37.5% {
    z-index: 100;
  }
  37.5%,
  50% {
    z-index: 100;
  }
  50%,
  62.5% {
    z-index: 0;
  }
  62.5%,
  75% {
    z-index: 0;
  }
  75%,
  87.5% {
    z-index: 0;
  }
  87.5%,
  99.99% {
    z-index: 0;
  }
}

@-webkit-keyframes cmd3 {
  0%,
  12.5% {
    z-index: 0;
  }
  12.5%,
  25% {
    z-index: 0;
  }
  25%,
  37.5% {
    z-index: 0;
  }
  37.5%,
  50% {
    z-index: 0;
  }
  50%,
  62.5% {
    z-index: 100;
  }
  62.5%,
  75% {
    z-index: 100;
  }
  75%,
  87.5% {
    z-index: 0;
  }
  87.5%,
  99.99% {
    z-index: 0;
  }
}

@keyframes cmd3 {
  0%,
  12.5% {
    z-index: 0;
  }
  12.5%,
  25% {
    z-index: 0;
  }
  25%,
  37.5% {
    z-index: 0;
  }
  37.5%,
  50% {
    z-index: 0;
  }
  50%,
  62.5% {
    z-index: 100;
  }
  62.5%,
  75% {
    z-index: 100;
  }
  75%,
  87.5% {
    z-index: 0;
  }
  87.5%,
  99.99% {
    z-index: 0;
  }
}

@-webkit-keyframes cmd4 {
  0%,
  12.5% {
    z-index: 0;
  }
  12.5%,
  25% {
    z-index: 0;
  }
  25%,
  37.5% {
    z-index: 0;
  }
  37.5%,
  50% {
    z-index: 0;
  }
  50%,
  62.5% {
    z-index: 0;
  }
  62.5%,
  75% {
    z-index: 0;
  }
  75%,
  87.5% {
    z-index: 100;
  }
  87.5%,
  99.99% {
    z-index: 100;
  }
}

@keyframes cmd4 {
  0%,
  12.5% {
    z-index: 0;
  }
  12.5%,
  25% {
    z-index: 0;
  }
  25%,
  37.5% {
    z-index: 0;
  }
  37.5%,
  50% {
    z-index: 0;
  }
  50%,
  62.5% {
    z-index: 0;
  }
  62.5%,
  75% {
    z-index: 0;
  }
  75%,
  87.5% {
    z-index: 100;
  }
  87.5%,
  99.99% {
    z-index: 100;
  }
}

/*Aside*/
aside .Selection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #451111;
  text-align: justify;
  height: auto;
  margin: 10vh 0vh 5vh 5vh;
  padding-right: 5vh;
}

aside .Selection div {
  margin-bottom: -2%;
}

aside .Selection div b {
  font-size: x-large;
  font-family: "Nanum Gothic", sans-serif;
}

aside .Selection div a {
  color: #962626;
  font-size: 1.5rem;
  text-decoration: none;
}

aside .Selection div a img {
  display: none;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.calendar a {
  font-size: 1.5rem;
  margin-top: -2%;
  color: #962626;
  text-decoration: none;
}

.calendar a img {
  max-width: 50%;
}
/*# sourceMappingURL=style-tablette.css.map */