/* Temp */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hidden-mobile {
  display: none !important;
}

.hidden-tablette {
  display: none !important;
}

/* body pour prendre l'ensemble de la page*/
body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 12rem;
  background-color: #9d0a25;
  padding: 0;
  margin: 0;
}

header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4rem;
  width: 100%;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #3d040f;
  font-family: "Comfortaa", cursive;
}

header nav > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  border-right: 2px solid #857676;
  border-left: 2px solid #857676;
}

header nav > ul li > a svg {
  width: 2em;
  height: 2em;
  color: #ada4a4;
}

.spacelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ada4a4;
}

.spacelist a {
  text-decoration: none;
  color: #ada4a4;
  font-size: 1.5rem;
  text-align: center;
}

.spacelist svg {
  width: 2em;
  height: 2em;
  color: #ada4a4;
}

/* ---- Navigation bar drop-down menu --- */
.nav-menu ul {
  display: none;
  list-style: none;
}

.nav-menu div {
  overflow: hidden;
}

/* Appearance of the list when checked */
nav input[type="checkbox"]:checked + ul {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* unchecked disappearance */
nav input[type="checkbox"] {
  display: none;
}

/* Style menu */
.drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  z-index: 100;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
}

.drop-down li {
  text-align: center;
}

.drop-down a {
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  display: block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 9vh;
  font-size: 1.5rem;
}

/* Header logo */
.inner-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.inner-head img {
  height: 8rem;
}

.head-title {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.head-title p {
  color: #ada4a4;
  font-weight: 300;
  font-size: 1.4rem;
}

.head-title p b {
  font-weight: 900;
  font-style: normal;
  color: white;
}

@media screen and (max-width: 380px) {
  .head-title p b {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 380px) {
  .head-title p b {
    font-size: 2rem;
  }
}

/*----- Main -----*/
/* Article */
article .article {
  position: relative;
  width: 90vw;
  height: 100%;
  padding: 15px;
  margin: 0 auto 2em;
  border: 1px solid #ddd;
  background: #fff;
  margin-top: 2vh;
}

article .article h3 {
  font-size: xx-large;
  text-align: center;
  color: #6d071a;
}

article .article ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

article .article ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .article ul li div {
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  article .article ul li div img {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 763px) {
  article .article ul li div img {
    width: 30%;
    height: 30%;
    border-radius: 25% 10% 25% 10%;
    margin: 6% 5% 5% 0;
    text-align: center;
    float: left;
  }
}

article .article ul li div p {
  text-align: justify;
  width: 100%;
  height: 20%;
  font-size: x-large;
  word-wrap: break-word;
}

article .article ul li h4 {
  text-align: center;
  text-align-last: center;
  border-bottom: 2px solid #6d071a;
  font-size: x-large;
}

/*Aside*/
aside .Selection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #451111;
  text-align: justify;
  height: auto;
  margin: 10vh 0 5vh 5vh;
  padding-right: 5vh;
}

aside .Selection h3 {
  border-bottom: 2px solid #6d071a;
}

aside .Selection div {
  margin-bottom: -2%;
}

aside .Selection div b {
  font-size: x-large;
  font-family: "Nanum Gothic", sans-serif;
}

aside .Selection div a {
  color: #962626;
  font-size: 1.5rem;
  text-decoration: none;
}

aside .Selection div a img {
  display: none;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.calendar a {
  font-size: 1.5rem;
  margin-top: -15%;
  color: #962626;
  text-decoration: none;
}

.calendar a img {
  margin-top: 15vh;
  width: 100%;
}

/* Footer */
footer {
  background-color: #6d071a;
  height: 5rem;
  width: 100vw;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer ul li {
  width: 100%;
  color: white;
}

footer ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  text-decoration: none;
  color: white;
}

footer ul li > a p {
  text-align: center;
}
/*# sourceMappingURL=style-event-mobile.css.map */