/* Color variable */

$redsite: #6d071a;
$gray: rgb(173, 164, 164);
$light-gray: rgb(133, 118, 118);
$carbon-transparent: rgba(54, 48, 43, 0.7);
$red: #bf3030;
$carbon: rgb(19, 14, 10);
$light-gray: rgb(133, 118, 118);
$red-trans: rgba(191, 48, 48, 0.5);

@mixin gradient {
  background: linear-gradient(#a32020, #531c1c);
}

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Hide elements that do not conform to the format */
.hidden-mobile {
  display: none !important;
}

.hidden-tablette {
  display: none !important;
}

/* body to take the whole page*/

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

/* Header */
@mixin justify {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 12rem;
  background-color: lighten($redsite, 10%);
  padding: 0;
  margin: 0;
  & nav > ul {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    background-color: darken($redsite, 10%);
    font-family: "Comfortaa", cursive;
    & li {
      display: flex;
      width: 100%;
      & > a {
        @include justify();
        flex: 2 1 auto;
        border-right: 2px solid $light-gray;
        border-left: 2px solid $light-gray;
        & svg {
          width: 2em;
          height: 2em;
          color: $gray;
        }
      }
    }
  }
}

/* Space and format navigation menu of header */

.spacelist {
  @include justify();
  flex: 1 1 auto;
  color: $gray;
  & a {
    text-decoration: none;
    color: $gray;
    font-size: 1.5rem;
    text-align: center;
  }
  & svg {
    width: 2em;
    height: 2em;
    color: $gray;
  }
}

/* ---- Navigation bar drop-down menu --- */

.nav-menu {
  & ul {
    display: none;
    list-style: none;
  }

  & div {
    overflow: hidden;
  }
}
/* Appearance of the list when checked */

nav input[type="checkbox"]:checked + ul {
  display: block;
  flex-direction: row;
}
/* unchecked disappearance */
nav input[type="checkbox"] {
  display: none;
}

/* Style menu */

.drop-down {
  display: flex;
  flex-flow: column wrap;
  z-index: 100;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;

  & li {
    text-align: center;
  }
  & a {
    border-bottom: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    display: block;
    text-decoration: none;
    background-color: darken($carbon-transparent, 20%);
    padding: 9vh;
    font-size: 1.5rem;
  }
}

/* Header logo */

.inner-head {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  height: 100%;
  & img {
    height: 8rem;
  }
}
.head-title {
  color: white;
  margin-top: auto;
  margin-bottom: auto;

  & h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  & p {
    color: $gray;
    font-weight: 300;

    & b {
      font-weight: 900;
      font-style: normal;
      color: white;
    }
  }
  @media screen and (min-width: 500px) {
    & p {
      font-size: 1.5rem;
      margin-top: -0.9rem;
      & b {
        font-size: 1.7rem;
      }
    }
  }
  @media screen and (min-width: 430px) and (max-width: 500px) {
    & p {
      font-size: 1.2rem;
      margin-top: -0.5rem;
      & b {
        font-size: 1.5rem;
      }
    }
  }
  @media screen and (min-width: 260px) and (max-width: 430px) {
    & h1 {
      display: none;
    }
    & p {
      font-size: 1rem;
      & b {
        font-size: 1.5rem;
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 260px) {
    & h1 {
      display: block;
    }
    & p {
      display: none;
    }
  }
}

/* Section navigation and current localisation */

.section-nav {
  display: flex;
  position: relative;
  border-bottom: 1px solid $redsite;
  & ol {
    list-style-type: none;
    padding-left: 1em;
    & li {
      display: inline-block;
      color: $red-trans;
      & a {
        text-decoration: none;
        color: $redsite;
        &::after {
          display: inline-block;
          color: $red-trans;
          content: ">";
          font-size: 80%;
          font-weight: bold;
          padding: 0 3px;
        }
      }
    }
  }
}

/*----- Main -----*/

$slider-width: 90vw;
$slider-height: 100%;

/* Article */

section {
  padding-top: 4em;
  & article {
    position: relative;
    width: $slider-width;
    height: $slider-height;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #fff;
    margin-top: 2vh;
    & h3 {
      font-size: xx-large;
      text-align: center;
      color: $redsite;
    }
    & ul {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      & li {
        display: flex;
        flex-direction: column;
        & div {
          width: 100%;
          & img {
            border-radius: 25% 10% 25% 10%;
            text-align: center;
            @media screen and (min-width: 0px) and (max-width: 650px) {
              float: top;
              margin: 5% 5% 5% 5%;
              width: 90%;
              height: auto;
            }
            @media screen and (min-width: 650px) and (max-width: 763px) {
              float: left;
              margin: 6% 5% 5% 0;
              width: 30%;
              height: 30%;
            }
          }
          & p {
            text-align: justify;
            width: 100%;
            height: 20%;
            font-size: x-large;
            word-wrap: break-word;
          }
        }
        & h4 {
          text-align: center;
          text-align-last: center;
          border-bottom: 2px solid $redsite;
          font-size: x-large;
        }
      }
    }
  }
}
/*Aside*/

aside .Selection {
  position: relative;
  display: flex;
  flex-direction: column;
  color: darken($red, 30%);
  text-align: justify;
  height: auto;
  margin: 10vh 0 5vh 5vh;
  padding-right: 5vh;
  & h3 {
    border-bottom: 2px solid $redsite;
  }
  & div {
    margin-bottom: -2%;
    & b {
      font-size: x-large;
      font-family: "Nanum Gothic", sans-serif;
    }
    & a {
      color: darken($red, 10%);
      font-size: 1.5rem;
      text-decoration: none;
      & img {
        display: none;
      }
    }
  }
}

/* Calendar gif format before footer */
.calendar {
  display: flex;
  flex-direction: column;
  text-align: center;
  & a {
    font-size: 1.5rem;
    margin-top: -15%;
    color: darken($red, 10%);
    text-decoration: none;
    & img {
      margin-top: 15vh;
      width: 100%;
    }
  }
}

/* Footer */

footer {
  background-color: $redsite;
  height: 5rem;
  width: 100vw;
  & ul {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    & li {
      width: 100%;
      color: white;
      & > a {
        @include justify();
        flex: 2 1 auto;
        text-decoration: none;
        color: white;
        & p {
          text-align: center;
        }
      }
    }
  }
}
